<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/Work">Work</a>
    </div>
    <h2>Kurosawa Akira</h2>
    <p>
      March 23, 1910 – September 6, 1998 was a Japanese filmmaker and painter
      who directed 30 films in a career spanning over five decades. He is widely
      regarded as one of the greatest and most influential filmmakers in the
      history of cinema. Kurosawa displayed a bold, dynamic style, strongly
      influenced by Western cinema yet distinct from it; he was involved with
      all aspects of film production. Kurosawa entered the Japanese film
      industry in 1936, following a brief stint as a painter. After years of
      working on numerous films as an assistant director and scriptwriter, he
      made his debut as a director during World War II with the popular action
      film Sanshiro Sugata (1943). After the war, the critically acclaimed
      Drunken Angel (1948), in which Kurosawa cast the then little-known actor
      Toshiro Mifune in a starring role, cemented the director's reputation as
      one of the most important young filmmakers in Japan. The two men would go
      on to collaborate on another fifteen films.
    </p>
  </body>
</html>
