<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/Work">Work</a>
    </div>
    <h2>Movies</h2>
    <ul>
      <li>Seven Samurai</li>
      <li>Rashomon</li>
      <li>Ran</li>
      <li>Dreams</li>
      <li>Kagemusha</li>
      <li>Thron of Blood</li>
    </ul>
  </body>
</html>
